[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
autopep8 = "*"
pytest = "*"

[packages]
requests = "==2.20.0"
SQLAlchemy = "==1.2.14"

[requires]
python_version = "3.6"
