[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
autopep8 = "*"
pytest = "*"
coverage = "*"

[packages]
defusedxml = "*"
requests = "*"
pipfile = "*"
sqlalchemy = "*"

[requires]
python_version = "3.11"
